<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
        <tr>
            <td align="center">
                <table width="600px" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                    style="margin-top: 20px; margin-bottom: 20px;">

                    <!-- Logo Section -->
                    <tr>
                        <td align="center">
                            <!-- Replace src with the URL of your logo -->
                            <img src="https://i.imgur.com/KVHjjDL.png" alt="T2M Logo"
                                style="max-width: 250px; height: auto; margin-left: 30px; padding: 10px; margin-top: 10px">
                        </td>
                    </tr>

                    <!-- Greeting Section -->
                    <tr>
                        <td valign="top" style="padding: 50px; padding-top: 20px; padding-bottom: 25px">
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px;">
                                Xin chào <strong
                                    style="font-weight: bold; text-transform: uppercase;">{{customerName}}</strong>,
                            </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                T2M trân trọng thông báo rằng thời hạn sử dụng dịch vụ hội viên của quý khách sẽ hết hạn
                                trong vòng <strong style="font-weight: bold;">{{daysLeft}} ngày</strong> nữa. </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                Để đảm bảo quá trình sử dụng dịch vụ không bị gián đoạn, chúng tôi khuyến khích quý
                                khách xem xét việc gia hạn dịch vụ bằng cách clink vào link phía dưới. </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                Xin cảm ơn quý khách đã sử dụng dịch vụ của T2M và mong muốn tiếp tục được hỗ trợ quý
                                khách trong tương lai. </p>
                        </td>
                    </tr>

                    <!-- Button Section -->
                    <tr>
                        <td valign="top" style="text-align: center;">
                            <button style="background-color: #cc3399
; 
                                border: none;
                                padding: 10px 20px; 
                                text-align: center; 
                                text-transform: uppercase; 
                                font-weight: bold; 
                                border-radius: 20px; 
                                font-size: 16px; 
                                cursor: pointer; 
                                text-decoration: none;
                                font-family: 'Calibri', sans-serif;
                                margin-bottom: 30px;
                            ">
                                <a href="t2m.vn" style="text-decoration: none; color: white">
                                    Gia hạn hội viên T2M Invest
                                </a>
                            </button>
                        </td>
                    </tr>

                    <!-- Sign Section -->
                    <tr>
                        <td>
                            <ul style="font-family: Calibri, sans-serif; font-size: 16px; font-style: italic;
                            list-style-type: none; margin: 0px; padding: 0px; margin-left: 35px;">
                                <li style="padding: 1px">Trân trọng,</li>
                                <li style="padding: 1px">
                                    Đội ngũ <strong style="font-weight: bold;">T2M Invest</strong>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <!-- Image Section -->
                    <tr>
                        <td valign="top" style="text-align: center;">
                            <img src="https://i.imgur.com/io99L2x.png" alt="T2M Content"
                                style="max-width: 600px; height: auto; padding-left: 50px; padding-right: 50px">
                        </td>
                    </tr>
                    <!-- Contact Section -->
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="48%" valign="top">
                                        <p style="font-family: Calibri, sans-serif; font-size: 16px; 
                                            margin-left: 50px; font-weight: bold; margin-top: 20px;">
                                            THÔNG TIN LIÊN HỆ
                                        </p>
                                        <ul
                                            style="font-family: Calibri, sans-serif; font-size: 17px; 
                                            list-style-type: none; margin-top: 0px; padding-top: 0px; margin-left: -2px">
                                            <li style="padding: 3px; padding-left: 0px"><strong
                                                    style="font-weight: bold">Zalo: </strong>(+84) 338 662 238</li>
                                            <li style="padding: 3px; padding-left: 0px"><strong
                                                    style="font-weight: bold">Email: </strong><a
                                                    href="mailto:mail.t2minvest@gmail.com"> mail.t2minvest@gmail.com</a>
                                            </li>
                                            <li style="padding: 3px; padding-left: 0px"><strong
                                                    style="font-weight: bold">Facebook: </strong> <a
                                                    href="https://www.facebook.com/t2m.invest">
                                                    facebook.com/t2m.invest</a></li>
                                        </ul>
                                    </td>
                                    <td width="52%" valign="top">
                                        <p style="font-family: Calibri, sans-serif; font-size: 17px; 
                                            margin-left: 10px; font-weight: bold; margin-top: 20px;">
                                            THAM GIA NGAY CỘNG ĐỒNG T2M INVEST
                                        </p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr valign="top">
                                                <td width="20%" valign="top"
                                                    style="text-align: left; padding-left: 10px;">
                                                    <a href="https://t.me/+dfQWJsAaORljNzNl">
                                                        <img src="https://i.imgur.com/jhDX2dr.png" alt="Telegarm QR"
                                                            style="max-width: 90px; height: auto;" />
                                                    </a>
                                                    <br>
                                                </td>
                                                <td width="80%" valign="top"
                                                    style="text-align: left; margin-top: 0px; padding-top: 0px">
                                                    <ul style="font-family: Calibri, sans-serif; font-size: 15px; 
                                                        margin: 0px; padding: 0px; margin-left: 15px;">
                                                        <li style="padding: 1px">Cập nhật thị trường hàng ngày</li>
                                                        <li style="padding: 1px">Báo cáo dòng tiền trong phiên</li>
                                                        <li style="padding: 1px">Bot tín hiệu phái sinh real time</li>
                                                        <li style="padding: 1px">Bot tín hiệu cổ phiếu cơ sở</li>
                                                    </ul>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>

</html>